@import url('common.css');


article.about{
    height:100vh;
    position: relative;

    .txt-wrap{
        position: absolute;
        left: 45%; top:23%;
        width:50%;

        .index-txt{
            margin-bottom:40px;
            .txt-back{
                bottom:-2px;
                mix-blend-mode: difference;
                isolation: isolate;
                opacity: 0.8;
                
            }
        }
        p{
            width:65%;
            line-height: 1.7;
            color:#737373;
            font-weight: 300;
        }
    }
    
    .scroll{

        position: absolute;
        left:50%; bottom:15%;
        width:15px;
        margin:0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        
        .scroll-icon{
            opacity: .7;
        }
        .line-wrap{
            overflow: hidden;
            position: relative;
            height:70px;
            .line{
                width:1px;
                height:70px;
                background:#151515;
                display: block;
                margin:5px auto;

                opacity:0.5;

                position: absolute;
                left:50%; top:0;

                transition:0.4s;
            }
            .line.active{
                top:0;
            }
        }
    }

    
    
}


article.skills{
    position:relative;
    overflow: visible;
    .line-wrap{
        overflow: hidden;
        position: absolute;
        width:15px;
        height:100vh;
        left:50%; top:-10%;

        .line{
            width:1px;
            background:#151515;
            display: block;
            margin:5px auto;

            opacity:0.3;

            height:100%;

            transition:0.4s;
        }
    }
    .skills-inner{
        width:80%;
        margin:0 auto;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .skills-title{
            width:40%;
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            
            h2{
                font-size:35px;
                font-weight: 300;
                margin-bottom:40px;
            }
            p{
                width:70%;
            }
        }
        .skills-wrap{
            width:40%;
            position: relative;

            .btn-wrap{
                position: absolute;
                left:0; top:-15%;
                isolation: isolate;
                .circle{
                    mix-blend-mode: color-burn;
                    top:-4px;
                }
            }
            .btn-wrap:hover .circle{
                    width:108%;
            }
            
            
            h3{
                font-size:25px;
            }

            span{
                font-size: 15px;
                color:#737373;
                font-weight: 300;
            }
            .familiar, .tried, .etc{
                margin-bottom: 80px;

                h3{
                    margin-bottom: 40px;
                }
                .skill-list{
                    display: flex;
                    flex-wrap: wrap;
                    width:90%;
                    padding-left:20px;
                    .skill-item{
                        width:180px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom:20px;
                        img{
                            margin:0;
                            width:50px;
                        }
                        span{
                            margin-left:10px;
                        }
                    }
                }
            }
            .tried{}
            .etc{}
        }
    }
}


//-----------------------------
// 반응형
//-----------------------------

/* 모바일 가로, 모바일 세로 (해상도 360px ~ 767px)*/
@media (max-width:767px) {

article.about{
    .txt-wrap{
        width:80%;
        left:50%;
        top:15%;
        transform:translateX(-50%);
        p{
            width:95%;
        }
    }

    .scroll{
        left:90%;
        bottom:10%;
    }
}

article.skills{
    .skills-inner{
        flex-direction: column;

        .skills-title{
            width:100%;

            p{
                width:100%;
                text-align: left;
            }
        }

        .btn-wrap{
            .detail-btn{
              letter-spacing: 2px;
              margin-bottom:15px;
            }
          }


        .skills-wrap{
            width:100%;
            margin:100px auto;
            .btn-wrap{
                position: static;
                margin:20px 0;
                .detail-btn{
                    font-size:14px;
                    text-decoration: underline;
                }
            }

            .familiar, .tried, .etc{

                .skill-list{
                    width:100%;
                    .skill-item{
                        width:50%;
                    }
                }

            }
        }
    }
    .line-wrap{
        .line{
            display: none;
        }
    }
}


}


@media (min-width:768px) and (max-width:1023px) {
    article.about{
        .txt-wrap{
            width:80%;
            left:50%;
            top:15%;
            transform:translateX(-50%);
            p{
                width:95%;
            }
        }
    
        .scroll{
            left:90%;
            bottom:10%;
        }
    }

    article.skills{
        .skills-inner{
            flex-direction: column;
    
            .skills-title{
                width:100%;
    
                p{
                    width:100%;
                    text-align: left;
                }
            }
    
            .btn-wrap{
                .detail-btn{
                  letter-spacing: 2px;
                  margin-bottom:15px;
                }
              }
    
    
            .skills-wrap{
                width:100%;
                margin:100px auto;
                .btn-wrap{
                    position: static;
                    margin:20px 0;
                    .detail-btn{
                        font-size:14px;
                        text-decoration: underline;
                    }
                }
    
                .familiar, .tried, .etc{
    
                    .skill-list{
                        width:100%;
                        .skill-item{
                            width:50%;
                        }
                    }
    
                }
            }
        }
        .line-wrap{
            .line{
                display: none;
            }
        }
    }
}