// Montsrrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");

// Cookie
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

//CommercialScript BT

// @import url("https://db.onlinewebfonts.com/c/449b1c567da51480d590112112addcd6?family=CommercialScript+BT");

@font-face {
  font-family: "CommercialScript BT";
  src: url("/portfolio/img/font/Commercial Script BT.eot");
  src: url("/portfolio/img/font/CommercialScriptBT Regular.woff");
}

// Nexon Lv1 Gothic

@font-face {
  font-family: "NEXON Lv1 Gothic";
  src: url("/portfolio/img/font/NEXON\ Lv1\ Gothic\ OTF.eot");
  src: url("/portfolio/img/font/NEXON\ Lv1\ Gothic\ OTF.woff");
}
@font-face {
  font-family: "NEXON Lv1 Gothic Light";
  src: url("/portfolio/img/font/NEXON\ Lv1\ Gothic\ OTF\ Light.eot");
  src: url("/portfolio/img/font/NEXON\ Lv1\ Gothic\ OTF\ Light.woff");
}
@font-face {
  font-family: "NEXON Lv1 Gothic Bold";
  src: url("/portfolio/img/font/NEXON\ Lv1\ Gothic\ OTF\ Bold.eot");
  src: url("/portfolio/img/font/NEXON\ Lv1\ Gothic\ OTF\ Bold.woff");
}

// Nexon Lv2 Gothic

@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("/portfolio/img/font/NEXON\ Lv2\ Gothic.eot");
  src: url("/portfolio/img/font/NEXON\ Lv2\ Gothic.woff");
}
@font-face {
  font-family: "NEXON Lv2 Gothic Light";
  src: url("/portfolio/img/font/NEXON\ Lv2\ Gothic\ Light.eot");
  src: url("/portfolio/img/font/NEXON\ Lv2\ Gothic\ Light.woff");
}
@font-face {
  font-family: "NEXON Lv2 Gothic Bold";
  src: url("/portfolio/img/font/NEXON\ Lv2\ Gothic\ Bold.eot");
  src: url("/portfolio/img/font/NEXON\ Lv2\ Gothic\ Bold.woff");
}

$black: #151515;
$red: #e8001b;

* {
  box-sizing: border-box;
  font-family: Montserrat, "NEXON Lv2 Gothic";
  letter-spacing: 0;
  outline: none;
}

html{
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  scroll-behavior: smooth;

}
body {
  margin: 0;
  padding: 0;

  width:100vw;
  height:100vh;

  transition:0.5s;
  
  position: relative;

  overflow-x: hidden;
}
main{
  opacity:0;
}
article{
  width:100%;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: Montserrat, "NEXON Lv1 Gothic Bold";
  margin: 0;
  padding: 0;
}
p{
  font-family: Montserrat, "NEXON Lv2 Gothic Light";
  margin:0;
  padding:0;
  line-height: 1.8;
}
ul,
li {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: $black;
  font-family: Montserrat, "NEXON Lv1 Gothic Light", "NEXON Lv2 Gothic";
}
a, button, div{
  outline:0;
}
img{margin:0 auto;}

//background
.bg-black{
  background:$black;
}
.bg-white{
  background:#fff;
}
body.stopScroll{
  width:100%;
  height:100vh;
  overflow: hidden;
}
::selection {
  background-color: black;
  color: yellow;
}


// cursor

.cursor{
  display: inline-block;
  width:30px;
  height:30px;
  background:transparent;
  border:1px solid $red;
  border-radius: 50%;

  position: absolute;
  left:0; top:0;

  transform-origin: center;

  transition:0.1s;
  opacity:0.8;

  z-index: 50;

  pointer-events: none;
}
.cursor.active{
  pointer-events: none;
  
  mix-blend-mode: darken;
  isolation: isolate;

  animation: cursor 0.3s forwards;

  @keyframes cursor {
    0%{
      transform:scale(1);
    }
    50%{
      transform:scale(0);
    }
    100%{
      transform:scale(3);
      background:#aaa;
      border:none;
      opacity:0.2;
    }
  }

}

.btn-wrap{
  display: inline-block;
  margin:25px 15px;
  position: relative;

  .detail-btn{
    font-size:15px;
    font-weight: 500;
    color:#737373;
    letter-spacing: 5px;

    display: inline-block;

  }
  .circle{
    width:40px;
    height:40px;
    background:$red;
    border-radius: 50px;

    position: absolute;
    left:-15px; top:-2px;

    transform: translateY(-20%);

    transition:0.5s;
  }
}

// .rotate{
//   transform: rotate(10deg);
// }

.index-txt{
  font-size:60px;
  text-transform: uppercase;
  // overflow: hidden;
  .front{
      position: relative;
      isolation: isolate;

      .txt-back{
        position: absolute;
        left:0;

        font-family:"CommercialScript BT";
        font-size:60px;
        font-weight: normal;
        font-style: italic;
        letter-spacing: 15px;

        text-transform: lowercase;
        
        color:$red;
        mix-blend-mode: luminosity;
        isolation: isolate;

        opacity:0.8;
      }
  }
}

// header

header {
  width: 100%;
  height: 125px;

  position: fixed;
  z-index: 20;
  pointer-events: none;

  opacity:0;

  .h_container.white{
    .menu-trigger{
      span{
        background: #fff;
      }
    }
  }

  .h_container {
    width:100%;
    padding: 20px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
      z-index:20;
      transition:0.5s;
      pointer-events: all;
      svg{
        .mobile-logo{
          display:none;
        }
        text{
          transition:0.3s;
          font-size:25px;
          font-weight: bold;
        }
      }
      .black{
        fill:#151515;
      }
      .white{
        fill:#fff;
      }
    }

    // menu-trigger

    .menu-trigger {
      width: 50px;
      height: 25px;

      position: relative;
      pointer-events: all;
      cursor: pointer;
      
      z-index:20;

      span {
        height: 1px;
        display: block;

        position: absolute;

        transition: 0.3s;

        z-index:20;
      }
      span:nth-of-type(1) {
        width: 50%;
        right: 0;
        top: 0;
      }
      span:nth-of-type(2) {
        width: 100%;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      span:nth-of-type(3) {
        width: 75%;
        right: 0;
        bottom: 0;
      }
    }
    .menu-trigger.black{
      span{
        background:#151515;
      }
    }
    .menu-trigger.white{
      span{
        background:#fff;
      }
    }
    .menu-trigger:hover span:nth-of-type(1),
    .menu-trigger:hover span:nth-of-type(3) {
      width: 100%;
    }
    .menu-trigger.active span:nth-of-type(1),
    .menu-trigger.active span:nth-of-type(3) {
      width: 100%;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    .menu-trigger.active span:nth-of-type(1) {
      transform: rotate(45deg);
    }
    .menu-trigger.active span:nth-of-type(2) {
      display: none;
    }
    .menu-trigger.active span:nth-of-type(3) {
      transform: rotate(-45deg);
    }

    
  }
  
}
.nav-wrap{
  width:300vw;
  height:300vw;

  background:$red;
  border-radius: 50%;

  position: absolute;
  right:calc(100px - 150vw);
  top:calc(90px - 150vw);

  transform:scale(0);
  transform-origin: center;
  z-index: 5;
}


// nav
nav.active {
  opacity:1;
  display: block;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $red;
  z-index: 10;

  opacity:0;
  display: none;

  transition:0.5s;
  pointer-events: all;

  .menu {
    width: 500px;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    a {
      display: inline-block;
      font-size: 90px;
      font-weight: bold;
      position: relative;

      transition: 0.2s;

      margin: 20px 0;
    }
    a:hover {
      color: #fff;
    }
    a:after {
      display: none;
      transition: 0.3s;
      z-index: 0;

      position: absolute;
      bottom: 0;
      left: 0;

      font-family: "CommercialScript BT";
      font-size: 80px;
      font-style: italic;
      letter-spacing: 14px;

      mix-blend-mode: difference;

      isolation: isolate;
    }
    a:hover:after {
      display: block;
      color: $red;
    }
    #about:after {
      content: "About";
    }
    #projects:after {
      content: "Projects";
    }
  }

  .contact-email {
    position: absolute;
    right: 10%;
    bottom: 10%;

    h3{
      margin-bottom:10px;
    }
    .contact-inner {
      justify-content: space-between;
      span {
        background: url("../img/contact-icon-email-black.png") no-repeat;
      }
      .email {
        border-bottom: 1px solid rgba(21, 21, 21, 0.3);
      }
    }
  }
}

.contact-email {

  width: 70%;
  // margin: 60px auto;

  nav &{
    width: 250px;
  }
  

  h3 {
    font-size: 30px;
    color: #fff;
  }
  .contact-inner {
    display: flex;
    align-items: center;
    width: 100%;
    margin:0;

    li{
      display: flex;
      justify-content: flex-start;
      align-items: center;

      margin:15px;
    }
    span {
      width: 32px;
      height: 21px;
      display: inline-block;
    }
    .icon-email {
      nav &{
       background: url("../img/contact-icon-email-black.png") no-repeat;
      }

      background: url("../img/contact-icon-email-red.png") no-repeat;
    }
    .icon-name{
      height:30px;

      nav &{
        background: url("../img/contact-icon-name-black.png") no-repeat;
      }
      background: url("../img/contact-icon-name-red.png") no-repeat;
    }
    .name, .email {
      color: #ececec;
      margin-left: 10px;
    }
    .name{
      display: inline-block;
    }
    .email{
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding-bottom:6px;
    }
  }
}


//aside
aside {
  .contact {
    position: fixed;
    left:-100%; top:0;

    z-index: 10;

    width:100%;
    height:100vh;

    transition:1s;
    .contact-label {
      display: inline-block;

      text-align: center;

      font-size: 30px;
      font-weight: bold;

      padding: 8px;
      margin: 0;

      transform: rotate(90deg) translateY(90%);

      position: absolute;
      left:100%;
      top: 70%;

      z-index:4;

      transition:1s;
      opacity:0;
    }
    .contact-label.black{
      color: #fff;
      background: $black;
    }
    .contact-label.white{
      color: #151515;
      background: #fff;
    }
    .contact-label:hover{
      animation: label 0.3s;
      transition:all 0.3s cubic-bezier(.17,.67,.83,.67);

      @keyframes label {
        0%{
           transform:rotate(90deg) translateY(90%);
        }
        50%{
          transform:rotate(90deg) translateY(87%);
        }
        100%{
          transform:rotate(90deg) translateY(90%);
        }
      }
    }
    .contact-box {
      position: absolute;
      left:0;
      top:0;

      width: 100%;
      height: 100vh;

      background: $black;

      .contact-txt {
        width: 70%;
        position: absolute;
        left:20%; top:45%;
        transform: translateY(-50%);
        // margin: 300px auto 0 auto;

        h2 {
          font-size: 70px;
          color: #fff;

          b {
            color: $red;
          }
        }
        p {
          color: #9a9a9a;
          font-size: 15px;
        }
      }
      .contact-email{
        position: absolute;
        left:20%; top:70%;
        transform:translateY(-50%);
      }
      
    }
  }
  .contact-box.active .contact-txt,
  .contact-box.active .contact-email{
    opacity:1;
  }

  .contact.active{
    left:0;
    transition:1s;
  }
}

//-----------------------------
// 반응형
//-----------------------------

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media (max-width:767px) {

  .cursor{
    display: none;
  }

  header .h_container {
    padding:20px 30px;
    .logo {
      svg{
        .mobile-logo{
          display: block;
          font-size:35px;
        }
        .pc-logo{
          display:none;
        }
        text{
        font-size:20px;
      }
      }
      
    }
  }

  nav{
    .menu{
      width:80%;
      top:40%;
      left:50%;
      a{
        font-size:65px;
      }
    }
    .contact-email{
      width:80%;
      left:50%;

      transform:translateX(-50%);

      h3{
        font-size:20px;
      }
      .contact-inner{
        ul{
          margin:0;
        }
        .name{
          font-size:15px;
        }
        .icon-name, .icon-email{
          width:25px;
          background-size:contain;
        }
      }
      
    }
  }


  .btn-wrap{
    margin:10px 0;

    .detail-btn{
      font-size:12px;
    }
    .circle{
      display:none;
    }
  }

  article.index-about .scroll{
    right:0;
    margin:0;
  }

  .txt-wrap{
    top:30%;
    .index-txt{
      font-size:45px;
      .txt-back{
        font-size:45px;
      }
    }
  }
  

  aside {
    .contact {
      .contact-box{
        .contact-txt{
            top:40%;
            left:50%;
            transform:translate(-50%,-50%);
          h2{
            font-size:50px;
          }
          p{
            font-size:14px;
          }
        }
        .contact-email{
          h3{
            font-size:25px;
          }
          left:50%;
          transform:translate(-50%,-50%);
        }
      }
      .contact-label{
        font-size:20px;
        top:80%;
      }
    }
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media (min-width:768px) and (max-width:1023px) {
  .cursor{
    display: none;
  }

  header .h_container {
    padding:20px 30px;
    .logo {
      svg{
        .mobile-logo{
          display: block;
          font-size:35px;
        }
        .pc-logo{
          display:none;
        }
        text{
        font-size:20px;
      }
      }
      
    }
  }

  nav{
    .menu{
      width:80%;
      top:40%;
      left:50%;
      a{
        font-size:65px;
        display:block;
      }
    }
    .contact-email{
      width:80%;
      left:50%;

      transform:translateX(-50%);

      h3{
        font-size:20px;
      }
      .contact-inner{
        ul{
          margin:0;
        }
        .name{
          font-size:15px;
        }
        .icon-name, .icon-email{
          width:25px;
          background-size:contain;
        }
      }
      
    }
  }

  aside {
    .contact {
      .contact-box{
        .contact-txt{
            top:40%;
            left:50%;
            transform:translate(-50%,-50%);
          h2{
            font-size:50px;
          }
          p{
            font-size:14px;
          }
        }
        .contact-email{
          h3{
            font-size:25px;
          }
          left:50%;
          transform:translate(-50%,-50%);
        }
      }
      .contact-label{
        font-size:20px;
        top:80%;
      }
    }
  }

  .btn-wrap{
    margin:10px 0;

    .detail-btn{
      font-size:12px;
    }
    .circle{
      display:none;
    }
  }
}

