@import url('common.css');


$black: #151515;
$red: #e8001b;

article{
    width:100%;
    overflow: hidden;
}


canvas{
    position: absolute;
    right:0; top:0;
    background:transparent;
    opacity: 0.5;
    // z-index:5;
}

article.index-about{
    height:100vh;
    position: relative;
    
    .txt-wrap{

        position: absolute;
        left:20%; top:50%;
        transform: translateY(-50%);

        width:60%;
        margin:0 auto;

        // padding:290px 0;

        .index-txt{
            text-align:left;
            .txt-back{
                top:6%;
            }
        }
        
    }
    .btn-wrap{
        isolation: isolate;
    }
    .circle{
        mix-blend-mode: color-burn;
        background:#151515;
        opacity: 0.6;
    }
    .btn-wrap:hover .circle{
        width:120%;
      }

    .scroll{

        position: absolute;
        left:50%; bottom:10%;
        width:15px;
        margin:0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        
        .scroll-icon{
            opacity: .7;
        }
        .line-wrap{
            overflow: hidden;
            position: relative;
            height:70px;
            .line{
                width:1px;
                height:70px;
                background:#151515;
                display: block;
                margin:5px auto;

                opacity:0.5;

                position: absolute;
                left:50%; top:0;

                transition:0.4s;
            }
            .line.active{
                top:0;
            }
        }
    }
    
}

article.index-project{
    padding:150px 0;

    .txt-wrap{
        width:60%;
        margin:0 auto;
        margin-bottom:100px;

        .index-txt{
            color:#fff;
            .front{
                height:70px;
                .txt-back{
                    top:6%;
                }
            }
        }
        
    }
    .circle{
        mix-blend-mode: exclusion;
        background:#151515;
    }
    .btn-wrap:hover .circle{
        width:110%;
    }

    .slider{
        .slick-list{
            height:700px;
        }  
        .atvBtn{display:block;}
        .slider-con{
            margin:0 auto;
            width:40%;

            position: relative;
            background-clip:text;
            
            .img-box{
                width:100%;
                margin:0 auto;

                position: relative;

                img{
                    opacity: 1;
                }
            }
            .svg-box{
                position: absolute;
                left:0%; bottom:0%;
                width:100%; height:100%;
                svg{
                    position: absolute;
                    left:50%; bottom:-17%;
                    transform:translateX(-50%);
                    .title{
                        font-size:70px;
                        font-weight: bold;
                        fill:transparent;
                        stroke-width: 1px;
                        stroke:#fff;
                    }
                }
            }
        }
    }

    
}

@media (max-width:767px){


    article.index-about{
        .txt-wrap{
            width:80%;
            left:50%;
            transform:translate(-50%,-50%);
        }
        .scroll{
            left:80%;
            bottom:10%;
        }
    }

    article.index-project{
        padding:200px 0;
        .txt-wrap{
            width:80%;
            margin-bottom:50px;
        }
        .slider{  
            .slick-list{
                height:300px;
            }  
            .slider-con{
                .img-box{
                    img{
                        width:100%;
                    }
                }
                .svg-box{
                    svg{
                        bottom:-40%;
                        .title{
                            width:100%;
                            font-size:30px;
                            stroke-width:0.3px;

                        }
                    }
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:1023px) {

article.index-about{
        .txt-wrap{
            width:80%;
            left:50%;
            transform:translate(-50%,-50%);
        }
        .scroll{
            bottom:5%;
        }
    }

    article.index-project{
        padding:200px 0;
        .txt-wrap{
            width:80%;
            margin-bottom:50px;
        }
        .slider{
            .slick-list{
                height:500px;
            }      
            .slider-con{
                .img-box{
                    img{
                        width:100%;
                        opacity:1;
                    }
                }
                .svg-box{
                    svg{
                        bottom:-20%;
                        .title{
                            width:100%;
                            font-size:40px;
                            stroke-width:0.3px;

                        }
                    }
                }
            }
        }
    }

}
