@charset "UTF-8";
@import url("common.css");
/* mixin */
html {
  background: #151515;
}

body {
  position: relative;
}

.page-prev-back {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #151515;
  opacity: 0.6;
  z-index: 10;
}

article.project-detail {
  width: 100%;
  padding: 300px 0;
  margin: 0 auto;
}

article.project-detail .art_inner {
  width: 68%;
  margin: 0 auto;
}

article.project-detail .index-txt {
  margin: 0 auto;
  color: #fff;
}

article.project-detail .index-txt .txt-back {
  bottom: 0;
}

article.project-detail .detail-btn {
  z-index: 1;
  mix-blend-mode: luminosity;
  isolation: isolate;
}

article.project-detail .btn-wrap {
  position: relative;
}

article.project-detail .circle {
  opacity: 0.5;
  z-index: 0;
}

article.project-detail .btn-wrap:hover .circle {
  width: 120%;
}

article.project-detail .sec h3 {
  color: #eeeeee;
  font-size: 18px;
  margin-bottom: 40px;
}

article.project-detail .sec strong, article.project-detail .sec span {
  font-size: 15px;
  color: #dbdbdb;
}

article.project-detail .sec a, article.project-detail .sec p {
  color: #d1d1d1;
  font-weight: 500;
  line-height: 1.5;
}

article.project-detail .sec-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px 0;
}

article.project-detail .sec-top div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article.project-detail .sec-top h3 {
  margin-right: 20px;
}

article.project-detail .sec-top .top-wrap {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

article.project-detail .sec-top .top-wrap .top-title {
  text-transform: uppercase;
}

article.project-detail .sec-top .top-wrap .top-title, article.project-detail .sec-top .top-wrap .top-time {
  width: 22%;
}

article.project-detail .sec-top .top-wrap .demo {
  margin: 0;
}

article.project-detail .sec-top .top-wrap .mDemo {
  display: none;
}

article.project-detail .sec-top .top-overall {
  margin-top: 50px;
}

article.project-detail .sec-top .top-overall p {
  width: 89%;
}

article.project-detail .page-prev {
  width: 100%;
}

article.project-detail .page-prev .inner {
  width: 100%;
}

article.project-detail .page-prev .inner .page-prev-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article.project-detail .page-prev .inner .page-prev-list .page-prev-item {
  width: 33.33%;
}

article.project-detail .page-prev .inner .page-prev-list .page-prev-item img {
  width: 100%;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  vertical-align: middle;
}

article.project-detail .page-prev .inner .page-prev-list .page-prev-item img:hover {
  opacity: 1;
}

article.project-detail .page-prev .inner .hidden {
  display: none;
}

article.project-detail .middle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 150px 0;
}

article.project-detail .middle .used-skill {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

article.project-detail .middle .used-skill .skill-list {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article.project-detail .middle .used-skill .skill-list .skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 40px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

article.project-detail .middle .used-skill .skill-list .skill-item img {
  width: 50px;
  margin-right: 10px;
}

article.project-detail .middle .res-detail {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

article.project-detail .middle .res-detail .inner #pc, article.project-detail .middle .res-detail .inner #tablet, article.project-detail .middle .res-detail .inner #mobile {
  color: #99785f;
  font-weight: bold;
}

article.project-detail .middle .res-detail .inner #pc:after, article.project-detail .middle .res-detail .inner #pc:before,
article.project-detail .middle .res-detail .inner #tablet:after, article.project-detail .middle .res-detail .inner #tablet:before,
article.project-detail .middle .res-detail .inner #mobile:after, article.project-detail .middle .res-detail .inner #mobile:before {
  content: '|';
  color: #dbdbdb;
  font-weight: normal;
  margin: 0 15px;
}

article.project-detail .feature > h3 {
  margin: 0;
}

article.project-detail .feature .tab {
  text-align: center;
  display: block;
  margin: 50px auto 150px auto;
  z-index: 5;
}

article.project-detail .feature .tab a {
  padding: 20px 0;
}

article.project-detail .feature .tab a:before {
  content: '|';
  color: #dbdbdb;
  margin: 0 40px;
}

article.project-detail .feature .tab a:nth-of-type(1):before {
  content: '';
  margin: 0;
}

article.project-detail .feature .tab a.active {
  color: #99785f;
  font-weight: bolder;
}

article.project-detail .feature .tab.active {
  position: fixed;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

article.project-detail .feature-detail .feature-list li {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

article.project-detail .feature-detail .feature-list li .feat-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
  margin-bottom: 70px;
}

article.project-detail .feature-detail .feature-list li .feat-item .feature-detail {
  width: 40%;
}

article.project-detail .feature-detail .feature-list li .feat-item .figure-box {
  width: 50%;
}

article.project-detail .feature-detail .feature-list li .feat-item .figure-box img {
  width: 100%;
}

article.project-detail .feature-detail .feature-list div {
  margin-bottom: 40px;
}

article.project-detail .feature-detail .feature-list p {
  margin-top: 30px;
}

article.project-detail .feature-detail .feature-list strong {
  font-size: 16px;
  color: #99785f;
}

article.project-detail .feature-detail .feature-list img {
  width: 100%;
}

article.project-detail .feature-detail .feature-list .flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

article.project-detail .feature-detail .feature-list .detail-box > div {
  padding-left: 20px;
}

.footer {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .prev, .footer .next {
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  overflow: hidden;
}

.footer .prev a, .footer .next a {
  width: 100%;
  height: 100%;
  display: inline;
}

.footer text {
  fill: transparent;
  stroke-width: 1.5;
}

.footer .prev {
  background: #fff;
}

.footer .prev text {
  stroke: #151515;
}

.footer .next {
  background: #1b1b1b;
}

.footer .next text {
  stroke: #fff;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media (max-width: 767px) {
  article.project-detail {
    padding: 150px 0;
  }
  article.project-detail .art_inner {
    width: 80%;
  }
  article.project-detail .index-txt {
    width: 100%;
    margin: 0 0 20px 0;
    font-size: 45px;
  }
  article.project-detail .index-txt .front .txt-back {
    font-size: 45px;
    bottom: -1%;
    left: 1.5%;
    letter-spacing: 13px;
  }
  article.project-detail .sec-top {
    margin: 0;
  }
  article.project-detail .sec-top .top-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  article.project-detail .sec-top .top-wrap h3 {
    width: 48%;
    margin: 0 0 20px 0;
  }
  article.project-detail .sec-top .top-wrap .top-title, article.project-detail .sec-top .top-wrap .top-time, article.project-detail .sec-top .top-wrap .demo {
    width: 100%;
  }
  article.project-detail .sec-top .top-wrap .top-title, article.project-detail .sec-top .top-wrap .top-time {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 25px;
  }
  article.project-detail .sec-top .top-wrap .mDemo {
    display: block;
    margin: 0 0 70px 0;
    text-align: right;
  }
  article.project-detail .sec-top .top-wrap .pcDemo {
    display: none;
  }
  article.project-detail .sec-top .top-overall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article.project-detail .sec-top .top-overall h3 {
    margin-bottom: 20px;
  }
  article.project-detail .sec-top .top-overall p {
    width: 100%;
  }
  article.project-detail .page-prev {
    width: 100%;
  }
  article.project-detail .page-prev .inner {
    width: 100%;
  }
  article.project-detail .page-prev .inner .page-prev-list {
    width: 100%;
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article.project-detail .page-prev .inner .page-prev-list .page-prev-item {
    width: 100%;
  }
  article.project-detail .page-prev .inner .page-prev-list .page-prev-item img {
    opacity: 1;
    margin-bottom: 5px;
  }
  article.project-detail .page-prev .inner .hidden {
    display: none;
  }
  article.project-detail .middle {
    margin: 70px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article.project-detail .middle .used-skill {
    width: 100%;
    margin-bottom: 25px;
  }
  article.project-detail .middle .used-skill .skill-list {
    width: 100%;
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  article.project-detail .middle .used-skill .skill-list .skill-item {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 35%;
  }
  article.project-detail .middle .used-skill .skill-list .skill-item img {
    width: 40px;
    margin-left: 0;
  }
  article.project-detail .middle .res-detail {
    width: 100%;
  }
  article.project-detail .middle .res-detail .inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article.project-detail .middle .res-detail .inner span {
    margin: 10px 0;
  }
  article.project-detail .middle .res-detail .inner #pc:before,
  article.project-detail .middle .res-detail .inner #tablet:before,
  article.project-detail .middle .res-detail .inner #mobile:before {
    margin: 0 15px 0 0;
  }
  article.project-detail .feature .tab {
    display: none;
  }
  article.project-detail .feature .feature-detail .feature-list li {
    margin-top: 40px;
  }
  article.project-detail .feature .feature-detail .feature-list li .feat-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
  }
  article.project-detail .feature .feature-detail .feature-list li .feat-item .feature-detail {
    width: 100%;
  }
  article.project-detail .feature .feature-detail .feature-list li .feat-item .figure-box {
    width: 100%;
  }
  article.project-detail .feature .feature-detail .feature-list li .feat-item .figure-box img {
    width: 100%;
  }
  article.project-detail .feature .feature-detail .feature-list .flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media (min-width: 768px) and (max-width: 1023px) {
  article.project-detail {
    padding: 150px 0;
  }
  article.project-detail .art_inner {
    width: 80%;
  }
  article.project-detail .index-txt {
    width: 100%;
    margin: 0 0 20px 0;
    font-size: 45px;
  }
  article.project-detail .index-txt .front .txt-back {
    font-size: 45px;
    bottom: -1%;
    left: 1.5%;
    letter-spacing: 13px;
  }
  article.project-detail .sec-top {
    margin: 0;
  }
  article.project-detail .sec-top .top-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  article.project-detail .sec-top .top-wrap h3 {
    width: 48%;
    margin: 0 0 20px 0;
  }
  article.project-detail .sec-top .top-wrap .top-title, article.project-detail .sec-top .top-wrap .top-time, article.project-detail .sec-top .top-wrap .demo {
    width: 100%;
  }
  article.project-detail .sec-top .top-wrap .top-title, article.project-detail .sec-top .top-wrap .top-time {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 25px;
  }
  article.project-detail .sec-top .top-wrap .mDemo {
    display: block;
    margin: 0 0 70px 0;
    text-align: right;
  }
  article.project-detail .sec-top .top-wrap .pcDemo {
    display: none;
  }
  article.project-detail .sec-top .top-overall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article.project-detail .sec-top .top-overall h3 {
    margin-bottom: 20px;
  }
  article.project-detail .sec-top .top-overall p {
    width: 100%;
  }
  article.project-detail .page-prev {
    width: 100%;
  }
  article.project-detail .page-prev .inner {
    width: 100%;
  }
  article.project-detail .page-prev .inner .page-prev-list {
    width: 100%;
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article.project-detail .page-prev .inner .page-prev-list .page-prev-item {
    width: 100%;
  }
  article.project-detail .page-prev .inner .page-prev-list .page-prev-item img {
    opacity: 1;
    margin-bottom: 5px;
  }
  article.project-detail .page-prev .inner .hidden {
    display: none;
  }
  article.project-detail .middle {
    margin: 70px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article.project-detail .middle .used-skill {
    width: 100%;
    margin-bottom: 25px;
  }
  article.project-detail .middle .used-skill .skill-list {
    width: 100%;
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  article.project-detail .middle .used-skill .skill-list .skill-item img {
    width: 40px;
  }
  article.project-detail .middle .res-detail {
    width: 100%;
  }
  article.project-detail .middle .res-detail .inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article.project-detail .middle .res-detail .inner span {
    margin: 10px 0;
  }
  article.project-detail .middle .res-detail .inner #pc:before,
  article.project-detail .middle .res-detail .inner #tablet:before,
  article.project-detail .middle .res-detail .inner #mobile:before {
    margin: 0 15px 0 0;
  }
  article.project-detail .feature .tab {
    display: none;
  }
  article.project-detail .feature .feature-detail .feature-list li {
    margin-top: 40px;
  }
  article.project-detail .feature .feature-detail .feature-list li .feat-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
  }
  article.project-detail .feature .feature-detail .feature-list li .feat-item .feature-detail {
    width: 100%;
  }
  article.project-detail .feature .feature-detail .feature-list li .feat-item .figure-box {
    width: 100%;
  }
  article.project-detail .feature .feature-detail .feature-list li .feat-item .figure-box img {
    width: 100%;
  }
  article.project-detail .feature .feature-detail .feature-list .flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
/*# sourceMappingURL=project-detail.css.map */