@import url('common.css');


/* mixin */
  
html{
    background:#151515;
}

body{position: relative;}

.page-prev-back{
    display: none;

    position: absolute;
    left:0; top:0;
    
    width:100%;
    height:100vh;

    background: #151515;
    opacity:0.6;

    z-index:10;
}

article.project-detail{
    width:100%;
    padding:300px 0;
    margin:0 auto;

    .art_inner{
        width:68%;
        margin:0 auto;
    }
    .index-txt{
        margin:0 auto;
        color:#fff;
        .txt-back{
            bottom:0;
        }
    }

    .detail-btn{
        z-index: 1;
        mix-blend-mode: luminosity;
        isolation: isolate;

    }
    .btn-wrap{
        position: relative;
    }
    .circle{
        opacity: 0.5;
        z-index:0;
    }
    .btn-wrap:hover .circle{
        width:120%;
    }

    //section 공통 적용
    .sec{
        h3{
            color:rgb(238, 238, 238);
            font-size: 18px;
            margin-bottom:40px;
        }
        strong, span{
            font-size:15px;
            color:#dbdbdb;
        }
        a, p{
            color:#d1d1d1;
            font-weight: 500;
            line-height: 1.5;
        }
    }

    //프로젝트 개요 부분
    .sec-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        margin:150px 0;

        div{
            display: flex;
            // justify-content: space-between;
            // align-items: flex-start;
        }
        h3{
            margin-right:20px;
        }
        .top-wrap{
            width:100%;
            align-items: center;

            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .top-title{
                text-transform: uppercase;
                
            }
            .top-title,.top-time{
                width:22%;
            }
            .demo{
                margin:0;
            }
            .mDemo{
                display: none;
            }
        }
        
        .top-overall{
            margin-top:50px;
            p{
                width:89%;
            }
        }
    }

    // 페이지 갤러리
    .page-prev{
        width:100%;
        .inner{
            width:100%;
            .page-prev-list{
                width:100%;

                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                .page-prev-item{
                    width:33.33%;

                    img{
                        width:100%;
                        opacity:0.5;
                        transition:0.2s;
                        vertical-align: middle;
                    }
                    img:hover{opacity:1;}
                }
            }
            
            .hidden{
                display: none;
            }
        }
    }

    .middle{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        margin:150px 0;

        .used-skill{
            width:50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .skill-list{
                width:60%;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;

                .skill-item{
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-right:40px;
                    margin-bottom:30px;
                    // text-transform: capitalize;
                    
                    img{
                        width:50px;
                        margin-right:10px;
                    }
                }
            }
        }
        .res-detail{
            width:50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .inner{
                #pc,#tablet,#mobile{
                    color:#99785f;
                    font-weight: bold;
                }
                #pc:after,#pc:before,
                #tablet:after,#tablet:before,
                #mobile:after,#mobile:before{
                    content:'|';
                    color:#dbdbdb;
                    font-weight: normal;
                    margin:0 15px;
                }
            }
        }
    }


    .feature{
        > h3{
            margin:0;
        }
        .tab{
            text-align: center;
            display: block;
            margin:50px auto 150px auto;
            z-index:5;
            // transition:0.5s;
            a{
                padding:20px 0;
            }
            a:before{
                content:'|';
                color:#dbdbdb;
                margin:0 40px;

            }
            a:nth-of-type(1):before{
                content:'';
                margin:0;
            }
            a.active{
                color:#99785f;
                font-weight: bolder;
            }
            
            &.active{
                position:fixed;
                left:50%; top:0;
                transform: translateX(-50%);
            }
        }
    }

    .feature-detail{
        .feature-list{
            li{
                margin-top:150px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                
                .feat-item{
                    display:flex;
                    justify-content: space-between;
                    padding-left:10px;
                    margin-bottom:70px;
                    .feature-detail{
                        width:40%;
                    }
                    .figure-box{
                        width:50%;
                        img{
                            width:100%;
                        }
                    }
                }
                
            }
            div{
                margin-bottom:40px;
            }
            p{
                // width:90%;
                margin-top:30px;
            }
            strong{
                font-size:16px;
                color:#99785f;
            }
            img{
                width:100%;
            }
            .flex-column{
                flex-direction: column;
                align-items: flex-start;
            }
            .detail-box > div{
                padding-left:20px;
            }
        }
    }

    
    
}

.footer{
    width:100%;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .prev,.next{
        width:50%;
        height:100%;
        text-align: center;
        font-size:50px;
        font-weight: bold;

        overflow: hidden;

        a{
            width:100%;
            height:100%;
            display: inline;
        }
    }
    text{
        fill:transparent;
        stroke-width:1.5;
    }
    .prev{
        background:#fff;
        text{
            stroke:#151515;
        }
    }
    .next{
        background:#1b1b1b;
        text{
            stroke:#fff;
        }
    }
}


//-----------------------------
// 반응형
//-----------------------------


/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/

@media (max-width:767px){

    article.project-detail{
        padding:150px 0;

        .art_inner{
            width:80%;
        }
        .index-txt{
            width:100%;
            margin:0 0 20px 0;
            font-size:45px;
            .front{
                .txt-back{
                    font-size:45px;
                    bottom: -1%;
                    left:1.5%;
                    letter-spacing: 13px;
                }
            }
            
        }

        .sec-top{
            margin:0;

            .top-wrap{
                flex-direction: column;
                align-items: flex-start;

                h3{
                    width:48%;
                    margin:0 0 20px 0;
                }
                p{
                }
                .top-title, .top-time, .demo{
                    width:100%;
                }

                .top-title, .top-time{
                    flex-direction: column;
                    margin-bottom:25px;
                }

                .mDemo{
                    display: block;
                    margin:0 0 70px 0;
                    text-align: right;

                }
                .pcDemo{
                    display: none;
                }
            }


            .top-overall{
                flex-direction: column;
                h3{
                    margin-bottom:20px;
                }
                p{
                    width:100%;
                }
            }
        }

        // 페이지 갤러리
        .page-prev{
            width:100%;
            .inner{
                width:100%;
                .page-prev-list{
                    width:100%;
                    margin-top:30px;
                    flex-direction: column;

                    .page-prev-item{
                        width:100%;

                        img{
                            opacity:1;
                            margin-bottom:5px;
                        }
                    }
                }
                
                .hidden{
                    display: none;
                }
            }
        }

        .middle{
            margin:70px 0;

            flex-direction: column;

            .used-skill{
                width:100%;
                margin-bottom:25px;
                .skill-list{
                    width:100%;
                    margin:0;
                    // flex-direction:column;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    .skill-item{
                        justify-content: left;
                        width:35%;
                        img{
                            width:40px;
                            margin-left:0;
                        }
                    }
                }
            }

            .res-detail{
                width:100%;

                .inner{
                    width:100%;
                    display:flex;
                    flex-direction: column;

                    span{
                        margin:10px 0;

                        
                    }
                    #pc:before,
                    #tablet:before,
                    #mobile:before{
                        margin: 0 15px 0 0;
                    }
                }
            }
        }


        .feature{
            .tab{
                display: none;
            }

            .feature-detail{
                .feature-list{
                    li{
                        margin-top:40px;
                        .feat-item{
                            flex-direction: column;
                            flex-flow:column-reverse;
                            .feature-detail{
                                width:100%;
                            }
                            .figure-box{
                                width:100%;
                                img{width:100%;}
                            }
                        }
                        
                    }
                    .flex-column{
                        flex-flow: column;
                    }
                }
            }
        }
    }

    

}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media (min-width:768px) and (max-width:1023px) {
    article.project-detail{
        padding:150px 0;

        .art_inner{
            width:80%;
        }
        .index-txt{
            width:100%;
            margin:0 0 20px 0;
            font-size:45px;
            .front{
                .txt-back{
                    font-size:45px;
                    bottom: -1%;
                    left:1.5%;
                    letter-spacing: 13px;
                }
            }
            
        }

        .sec-top{
            margin:0;

            .top-wrap{
                flex-direction: column;
                align-items: flex-start;

                h3{
                    margin:0 15px 20px 0;
                }
                p{
                }
                .top-title, .top-time, .demo{
                    width:100%;
                }

                .top-title, .top-time{
                    margin-bottom:25px;
                }

                .mDemo{
                    display: block;
                    margin:0 0 70px 0;
                    text-align: right;

                }
                .pcDemo{
                    display: none;
                }
            }


            .top-overall{
                flex-direction: column;
                h3{
                    margin-bottom:20px;
                }
                p{
                    width:100%;
                }
            }
        }

        // 페이지 갤러리
        .page-prev{
            width:100%;
            .inner{
                width:100%;
                .page-prev-list{
                    width:100%;
                    margin-top:30px;
                    flex-direction: column;

                    .page-prev-item{
                        width:100%;

                        img{
                            opacity:1;
                            margin-bottom:5px;
                        }
                    }
                }
                
                .hidden{
                    display: none;
                }
            }
        }

        .middle{
            margin:70px 0;

            flex-direction: column;

            .used-skill{
                width:100%;
                margin-bottom:25px;
                .skill-list{
                    width:100%;
                    margin:0;
                    // flex-direction:column;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    .skill-item{
                        img{
                            width:40px;
                        }
                    }
                }
            }

            .res-detail{
                width:100%;

                .inner{
                    width:100%;
                    display:flex;
                    flex-direction: column;

                    span{
                        margin:10px 0;

                        
                    }
                    #pc:before,
                    #tablet:before,
                    #mobile:before{
                        margin: 0 15px 0 0;
                    }
                }
            }
        }


        .feature{
            .tab{
                display: none;
            }

            .feature-detail{
                .feature-list{
                    li{
                        margin-top:40px;
                        .feat-item{
                            flex-direction: column;
                            flex-flow:column-reverse;
                            .feature-detail{
                                width:100%;
                            }
                            .figure-box{
                                width:100%;
                                img{width:100%;}
                            }
                        }
                        
                    }
                    .flex-column{
                        flex-flow: column;
                    }
                }
            }
        }
    }
}