@import url("common.css");
/* mixin */
html {
  background: #151515;
}

body {
  position: relative;
}

.page-prev-back {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #151515;
  opacity: 0.6;
  z-index: 10;
}

article.project-detail {
  width: 100%;
  padding: 300px 0;
  margin: 0 auto;
}

article.project-detail .art_inner {
  width: 68%;
  margin: 0 auto;
}

article.project-detail .index-txt {
  margin: 0 auto;
  color: #fff;
}

article.project-detail .index-txt .txt-back {
  bottom: 0;
}

article.project-detail .detail-btn {
  z-index: 1;
  mix-blend-mode: luminosity;
  isolation: isolate;
}

article.project-detail .btn-wrap {
  position: relative;
}

article.project-detail .circle {
  opacity: 0.5;
  z-index: 0;
}

article.project-detail .btn-wrap:hover .circle {
  width: 120%;
}

article.project-detail .sec h3 {
  color: #eeeeee;
  font-size: 18px;
  margin-bottom: 40px;
}

article.project-detail .sec strong, article.project-detail .sec span {
  font-size: 15px;
  color: #dbdbdb;
}

article.project-detail .sec a, article.project-detail .sec p {
  color: #d1d1d1;
  font-weight: 500;
  line-height: 1.5;
}

article.project-detail .sec-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px 0;
}

article.project-detail .sec-top div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article.project-detail .sec-top h3 {
  margin-right: 20px;
}

article.project-detail .sec-top .top-wrap {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

article.project-detail .sec-top .top-wrap .top-title {
  text-transform: uppercase;
}

article.project-detail .sec-top .top-wrap .top-title, article.project-detail .sec-top .top-wrap .top-time {
  width: 22%;
}

article.project-detail .sec-top .top-wrap .demo {
  margin: 0;
}

article.project-detail .sec-top .top-overall {
  margin-top: 50px;
}

article.project-detail .sec-top .top-overall p {
  width: 89%;
}

article.project-detail .page-prev {
  width: 100%;
}

article.project-detail .page-prev .inner {
  width: 100%;
}

article.project-detail .page-prev .inner .page-prev-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article.project-detail .page-prev .inner .page-prev-list .page-prev-item {
  width: 33.3%;
}

article.project-detail .page-prev .inner .page-prev-list .page-prev-item img {
  width: 100%;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  vertical-align: middle;
}

article.project-detail .page-prev .inner .page-prev-list .page-prev-item img:hover {
  opacity: 1;
}

article.project-detail .page-prev .inner .page-prev-orig {
  position: absolute;
  background: #e7e7e7;
  padding: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 20;
}

article.project-detail .page-prev .inner .page-prev-orig ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article.project-detail .page-prev .inner .page-prev-orig .orig-exit {
  position: absolute;
  background: transparent;
  border: none;
  font-size: 0;
  right: 4%;
  top: 8%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

article.project-detail .page-prev .inner .page-prev-orig .orig-exit:after {
  content: '\f057';
  font: 50px/1 'FontAwesome';
  color: #151515;
}

article.project-detail .page-prev .inner .page-prev-orig .orig-exit:hover {
  opacity: 1;
}

article.project-detail .page-prev .inner .page-prev-orig .orig-prev, article.project-detail .page-prev .inner .page-prev-orig .orig-next {
  position: absolute;
  background: transparent;
  border: none;
  font-size: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
  opacity: 0.2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

article.project-detail .page-prev .inner .page-prev-orig .orig-prev:hover, article.project-detail .page-prev .inner .page-prev-orig .orig-next:hover {
  opacity: 1;
}

article.project-detail .page-prev .inner .page-prev-orig .orig-prev {
  left: 4%;
}

article.project-detail .page-prev .inner .page-prev-orig .orig-prev:after {
  content: '\f053';
  font: 50px/1 'FontAwesome';
  color: #151515;
}

article.project-detail .page-prev .inner .page-prev-orig .orig-next {
  right: 4%;
}

article.project-detail .page-prev .inner .page-prev-orig .orig-next:after {
  content: '\f054';
  font: 50px/1 'FontAwesome';
  color: #151515;
}

article.project-detail .page-prev .inner .hidden {
  display: none;
}

article.project-detail .middle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 150px 0;
}

article.project-detail .middle .used-skill {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

article.project-detail .middle .used-skill .skill-list {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article.project-detail .middle .used-skill .skill-list .skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 40px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

article.project-detail .middle .used-skill .skill-list .skill-item img {
  width: 50px;
  margin-right: 10px;
}

article.project-detail .middle .res-detail {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

article.project-detail .middle .res-detail .inner #pc, article.project-detail .middle .res-detail .inner #tablet, article.project-detail .middle .res-detail .inner #mobile {
  color: #99785f;
  font-weight: bold;
}

article.project-detail .middle .res-detail .inner #pc:after, article.project-detail .middle .res-detail .inner #pc:before,
article.project-detail .middle .res-detail .inner #tablet:after, article.project-detail .middle .res-detail .inner #tablet:before,
article.project-detail .middle .res-detail .inner #mobile:after, article.project-detail .middle .res-detail .inner #mobile:before {
  content: '|';
  color: #dbdbdb;
  font-weight: normal;
  margin: 0 15px;
}

article.project-detail .feature > h3 {
  margin: 0;
}

article.project-detail .feature .tab {
  text-align: center;
  display: block;
  margin: 50px auto 150px auto;
  z-index: 5;
}

article.project-detail .feature .tab a {
  padding: 20px 0;
}

article.project-detail .feature .tab a:before {
  content: '|';
  color: #dbdbdb;
  margin: 0 40px;
}

article.project-detail .feature .tab a:nth-of-type(1):before {
  content: '';
  margin: 0;
}

article.project-detail .feature .tab a.active {
  color: #99785f;
  font-weight: bolder;
}

article.project-detail .feature .tab.active {
  position: fixed;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

article.project-detail .feature-detail .feature-list li {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article.project-detail .feature-detail .feature-list li .left {
  width: 40%;
}

article.project-detail .feature-detail .feature-list li .figure-box {
  width: 650px;
  height: 366px;
}

article.project-detail .feature-detail .feature-list div {
  margin-bottom: 40px;
}

article.project-detail .feature-detail .feature-list p {
  margin-top: 30px;
}

article.project-detail .feature-detail .feature-list strong {
  font-size: 16px;
  color: #99785f;
}

article.project-detail .feature-detail .feature-list img {
  width: 100%;
}

article.project-detail .feature-detail .feature-list .flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

article.project-detail .feature-detail .feature-list .detail-box > div {
  padding-left: 20px;
}

.footer {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .prev, .footer .next {
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  overflow: hidden;
}

.footer .prev a, .footer .next a {
  width: 100%;
  height: 100%;
  display: inline;
}

.footer text {
  fill: transparent;
  stroke-width: 1.5;
}

.footer .prev {
  background: #fff;
}

.footer .prev text {
  stroke: #151515;
}

.footer .next {
  background: #1b1b1b;
}

.footer .next text {
  stroke: #fff;
}
/*# sourceMappingURL=project-detail.css.map */